<h1>餐廳後台</h1>

<a class="mr-1" href="/admin/restaurants">Restaurants</a><span>|</span><a class="ml-1" href="/admin/users">Users</a>
<br>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Roll</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th class="align-middle" scope="row">{{this.name}}</th>
      <td class="align-middle">{{this.email}}</td>
      {{#if isAdmin}}
      <td class="align-middle">admin</td>
      {{else}}
      <td class="align-middle">user</td>
      {{/if}}
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">
            {{#if isAdmin}}
            set as user
            {{else}}
            set as admin
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>