<main>
  <div class=" d-flex  border mb-3 p-3">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <section class="avatar" style="width: 500px ; height:400px ; ">
            <figure class="figure">

              <img src={{#if userData.image}}{{userData.image}}{{else}}"https://i.imgur.com/FR75AqX.png?3" {{/if}}
                class="figure-img img-fluid rounded" alt="上傳影片" style="border:rgba(0,0,0,0.5)">
            </figure>
          </section>
          <section class="info p-4">
            <h1>{{userData.name}}</h1>
            <h3>{{userData.email}}</h3>

            {{#ifCond userData.id user.id}}
            <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>
            {{/ifCond}}
            <br />
            <br />
            <li><strong>{{userData.Comments.length}}</strong> 已評論餐廳</li>
            <li><strong>{{userData.FavoritedRestaurants.length}}</strong> 收藏的餐廳</li>
            <li><strong>{{userData.Followings.length}}</strong> followings</li>
            <li><strong>{{userData.Followers.length}}</strong> followers</li>
            <br />

            {{#ifCond userData.id user.id}}
            {{else}}
            {{#if isFollowed }}
            <form action="/following/{{userData.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                type="submit" class="btn btn-danger">取消追蹤</button></form>
            {{else}}
            <form action="/following/{{userData.id}}" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-primary">追蹤</button></form>
            {{/if}}
            {{/ifCond}}


          </section>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          {{userData.Followings.length}} followings(追蹤者）
        </div>
        <div class="d-flex">
          {{#each userData.Followings}}
          <div class="m-1">
            <a href="/users/{{this.id}}"><img
                src={{#if this.image}}{{this.image}}{{else}}"https://i.imgur.com/FR75AqX.png?3" {{/if}}
                style="width: 50px"></a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          {{userData.Comments.length}} 已評論餐廳
        </div>
        <div class="d-flex">
          {{#each userData.Comments}}
          <div class="m-1">
            <a href="/restaurants/{{this.Restaurant.id}}"><img src={{this.Restaurant.image}}
                style="width:50px;height:50px"></a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          {{userData.Followers.length}} followers(追隨者）
        </div>
        <div class="d-flex">
          {{#each userData.Followers}}
          <div class="m-1">
            <a href="/users/{{this.id}}"><img src={{this.image}} style="width: 50px;"></a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          {{userData.FavoritedRestaurants.length}} 收藏的餐廳
        </div>
        <div class="d-flex">
          {{#each userData.FavoritedRestaurants}}
          <div class="m-1">
            <a href="/restaurants/{{this.id}}"><img src={{this.image}} style="width:50px;height:50px"></a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>







</main>